language: c
sudo: required

before_install:
  - docker build -t nokia_tarantool ./
  - docker run --name tarantool_test -itd --restart=unless-stopped -e "TZ=Europe/Moscow" nokia_tarantool
  - docker exec -i tarantool_test mkdir -p ./logs

script:
  - docker exec -i tarantool_test mkdir -p ./logs
  - docker exec -i tarantool_test busted tests.lua
  - docker exec -i tarantool_test rm -rf ../test_db
  - git clone https://github.com/glial-iot/glial.git
  - make -C ./glial
  - git config --local user.name "matnick"
  - git config --local user.email "matuhin86@gmail.com"
  - export TRAVIS_TAG=${TRAVIS_TAG:-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)}
  - git tag $TRAVIS_TAG

deploy:
    provider: packagecloud
    skip_cleanup: true
    repository: "Glial"
    username: "matuhin86"
    token: PACKAGECLOUD_KEY
    package_glob: "*.deb"
    dist: "ubuntu/precise"
    on:
      branch: deploy