language: lua

before_install:
  - docker build -t nokia_tarantool ./
  - docker run --name tarantool_test -itd --restart=unless-stopped -e "TZ=Europe/Moscow" nokia_tarantool

script:
  - docker exec -i tarantool_test mkdir -p ./logs
  - docker exec -i tarantool_test busted tests.lua
  - docker exec -i tarantool_test rm -rf ../test_db
  - docker exec -i git clone https://github.com/glial-iot/glial.git
  - docker exec -i cd glial
  - docker exec -i make

deploy:
    provider: packagecloud
    skip_cleanup: true
    repository: "Glial"
    username: "matuhin86"
    token: GITHUB_OAUTH_MATNICK
    package_glob: *.deb
    dist: "ubuntu/precise"