language: lua
sudo: required

before_install:
  - docker build -t nokia_tarantool ./
  - docker run --name tarantool_test -itd --restart=unless-stopped -e "TZ=Europe/Moscow" nokia_tarantool
  - docker exec -i tarantool_test mkdir -p ./logs

script:
  - docker exec -i tarantool_test mkdir -p ./logs
  - docker exec -i tarantool_test busted tests.lua
  - docker exec -i tarantool_test rm -rf ../test_db
  - git clone https://github.com/glial-iot/glial.git
  - make -C ./glial
  - git config --local user.name "matnick"
  - git config --local user.email "matuhin86@gmail.com"
  - export TRAVIS_TAG=${TRAVIS_TAG:-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)}
  - git tag $TRAVIS_TAG

before_deploy:
  - sudo apt-get update
  - sudo apt-get install -y reprepro
  - echo $DECRYPT_KEY | gpg --passphrase-fd 0 ./glial/keys.asc.gpg
  - gpg --batch --yes --import ./glial/keys.asc
  - mkdir ./debian_rep && cd ./debian_rep
  - git config --global user.email "matuhin86@gmail.com" && git config --global user.name "Travis CI"
  - git init
  - git remote add origin-pages https://${TEST_DEBIAN_ACCOUNT_OAUTH}@github.com/testdebianuser/test_deploy.git > /dev/null 2>&1
  - git checkout -b gh-pages
  - git pull origin-pages gh-pages && rm *
  - mkdir conf
  - cp ../distributions ./conf
  - mv ../glial/glial*.deb ./
  - echo $SIGN_KEY | reprepro --basedir ./ includedeb stretch glial*.deb
  - gpg --output PUBLIC.KEY --armor --export matuhin86@gmail.com
  - git add --all
  - git commit --message "Travis build $TRAVIS_BUILD_NUMBER"
  - git push --quiet --set-upstream origin-pages gh-pages

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_OAUTH_MATNICK
  keep-history: true
  on:
    branch: master
    branch: deploy
