language: c

before_install:
  - docker build -t nokia_tarantool ./
  - docker run --name tarantool_test -itd --restart=unless-stopped -e "TZ=Europe/Moscow" nokia_tarantool

script:
  - docker exec -i tarantool_test mkdir -p ./logs
  - docker exec -i tarantool_test busted tests.lua
  - docker exec -i tarantool_test rm -rf ../test_db

after_success:
  - docker exec -i git clone https://github.com/glial-iot/glial.git
  - docker exec -i cd glial
  - docker exec -i make

before_deploy:
  - git config --local user.name "matnick"
  - git config --local user.email "matuhin86@gmail.com"
  - export TRAVIS_TAG=${TRAVIS_TAG:-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)}
  - git tag $TRAVIS_TAG

deploy:
    provider: packagecloud
    skip_cleanup: true
    repository: "Glial"
    username: "matuhin86"
    token: $GITHUB_OAUTH_MATNICK
    package_glob: "*.deb"
    dist: "ubuntu/precise"

    provider: releases
    skip_cleanup: true
    api_key: $PACKAGECLOUD_KEY
    file_glob: true
    file: "*.deb"
    on:
      tags: true